<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h3>Всего новостей: {{ news|length }}</h3>
    {% if news %}
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    Дата добавления
                </td>
                <td>
                    Текст
                </td>
            </tr>
        {% for new in filter.qs %} <!-- поменяем products на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->

            <tr>
                <td>
                    <a href="{% url 'new' new.id %}">{{ new.name_news|censor }}</a> <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с самой статьи -->
                    <a href="{% url 'new_update' new.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование -->
                    <a href="{% url 'new_delete' new.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление -->
                </td>
            </tr>
            <tr>
                <td>
                    {{ new.time_post|date:'d-M-Y' }}
                </td>
                <td>
                    {{ new.text_news|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

<a href="{% url 'new_create' %}">Добавить новость</a> <br>

    {% if is_paginated %}

        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock content %}